@use "../../styles/mixins";
@use "../../styles/variables";

.price {
  width: 427px;
  height: 119px;
}

.p {
  margin-bottom: 24px;
}

.inputInside {
  position: absolute;
  @include mixins.input-text;
  right: 20px;
  top: 14px;
}

.disabled {
  color: #bcbcbc !important;
}

@media (max-width: 1439px) {
  .price {
    width: 320px;
  }
}

@media (max-width: 1119px) {
  .price {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .inputInside {
    color: variables.$phoneColor;
    font-size: 22px;
    line-height: 20px;
    top: 17px;
  }
}
