@use "../../styles/mixins";
@use "../../styles/variables";

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.inputNum::-webkit-outer-spin-button,
.inputNum::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.inputNum {
  @include mixins.input-text;
  background: #f3f3f4;
  border-radius: 16px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
  width: 100%;
  height: 68px;
  padding: 16px 24px;
  border: 2px solid #f3f3f4;
}

.inputNum:disabled {
  color: #bcbcbc;
  background: #fafafb;
}

.inputNum:focus {
  background: #ffffff;
  border: 2px solid #f3f3f4;
}

.inputRange:disabled {
  background-image: linear-gradient(variables.$range-color, variables.$range-color);
}

.inputRange {
  appearance: none;
  width: 90%;
  height: 1px;
  position: absolute;
  bottom: 0px;
  background: #e1e1e1;
  background-image: linear-gradient(variables.$range-color, variables.$range-color);
  background-repeat: no-repeat;
  z-index: 10;
}

.inputRange::-webkit-slider-thumb {
  @include mixins.input-range;
}

.inputRange:disabled::-webkit-slider-thumb {
  background: variables.$range-color;
}

.inputRange::-moz-range-thumb {
  @include mixins.input-range;
}

.inputRange:disabled::-moz-range-thumb {
  background: variables.$range-color;
}

.inputRange::-ms-thumb {
  @include mixins.input-range;
}

.inputRange:disabled::-ms-thumb {
  background: variables.$range-color;
}

.inputRange::-webkit-slider-runnable-track {
  @include mixins.appearance-none;
}

.inputRange::-moz-range-track {
  @include mixins.appearance-none;
}

.inputRange::-ms-track {
  @include mixins.appearance-none;
}

@media (max-width: 1119px) {
  .inputRange {
    width: 95%;
  }
}

@media (max-width: 767px) {
  .inputNum {
    color: variables.$phoneColor;
    font-size: 22px;
    line-height: 20px;
    height: 60px;
  }
  .inputRange {
    width: 90%;
  }
}
