.leasing {
  width: 427px;
  height: 119px;
}

.p {
  margin-bottom: 24px;
}

.inputInside {
  position: absolute;
  font-family: "Nekst";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
  right: 20px;
  top: 14px;
}

@media (max-width: 1439px) {
  .leasing {
    width: 320px;
  }
}

@media (max-width: 1119px) {
  .leasing {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .inputInside {
    color: #333e48;
    font-size: 22px;
    line-height: 20px;
    top: 20px;
  }
}
