@import url("../fonts/gilroy/stylesheet.css");
@import url("../fonts/nekst/stylesheet.css");
@import "normalize.scss";
@import "reset.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 0 48px;
  height: fit-content;
  overflow: auto;
}

@media (max-width: 1119px) {
  body {
    padding: 0 36px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0 20px;
    font-size: 14px;
    line-height: 136%;
  }
}
