@use "../../styles/mixins";

.title {
  @include mixins.counted-price;
  color: #111111;
  margin-bottom: 32px;
  max-width: 753px;
  transition: all 0.3s;
}

@media (max-width: 767px) {
  .title {
    font-size: 34px;
  }
}
