@use "../../styles/mixins";
@use "../../styles/variables";

.fee {
  width: 427px;
  height: 119px;
}

.p {
  margin-bottom: 24px;
}

.inputInside {
  padding: 15px 15px;
  background: #ebebec;
  border-radius: 16px;
  border: none;
  width: 69px;
  height: 54px;
  position: absolute;
  @include mixins.input-text;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  right: 7px;
  top: 7px;
}

.rouble {
  @include mixins.input-text;
  position: absolute;
  top: 13px;
  left: 150px;
}

.hidden {
  display: none;
}

.inputInside:focus {
  outline: none;
  border: none;
}

.inputInside:disabled {
  color: #bcbcbc;
  background: #fafafb;
}

.disabled {
  color: #bcbcbc !important;
}

@media (max-width: 1439px) {
  .fee {
    width: 320px;
  }
}

@media (max-width: 1119px) {
  .fee {
    width: 100%;
  }
}

@mixin phone-input {
  color: variables.$phoneColor;
  font-size: 22px;
  line-height: 20px;
}

@media (max-width: 767px) {
  .inputInside {
    @include phone-input;
    width: 67px;
    height: 48px;
    padding: 15px 10px;
  }
  .rouble {
    @include phone-input;
    top: 18px;
    left: 117px;
  }
}
