.App {
  max-width: 1440px;
  margin-top: 213px;
}

.values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

@media (max-width: 1439px) {
  .App {
    max-width: 1120px;
    margin: 213px auto 0px
  }
}

@media (max-width: 1119px) {
  .values {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 319px) {
}
